<div class="container-fluid" >
    <div class="row no-gutters pb-5" style="width: 100%;">
        <div class="bgimage mt-5">
            <div class="m-3 pb-5" style="background-color: white;opacity: .9;display: block;border: 1px solid blue;border-radius: 15px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                <div class="row m-3" style="border-bottom:1px solid grey;">
                        <div class="col-md-1">
                            &nbsp;
                        </div>
                        <div class="col-md-1">
                            <img src="/assets/home/user_icon.svg" alt="Image"/>
                        </div>
                        <div class="col-md-3">
                            <!-- <img src="/assets/home/user_icon.svg" alt="Image"/> -->
                            <p style="font-weight: bold;">Ram Rokkam [12, 123456]</p>
                            <p class="label">Group 1 Group 1</p> 
                            <p class="label">Admin, AcmePrints</p>
                            <p class="label">ram.rokkam@acmeprints.com</p>
                            <p class="label"> 01733 45678</p>
                        </div>
                        <div class="col-md-6 text-right ">
                            <button class="btn btn-warning">Active</button>
                           
                           <p>8cc9dfrt-fddt-sedr-koi9-lopi8-iopl</p>
                           <p class="label">1</p>
                           <p class="label">1</p>
        
                        </div>
                        <div class="col-md-1 text-left ">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </div>

        
                </div>
        
                <div class="row">
                    <div class="col-md-2">
                        &nbsp;
                    </div>
                    <div class="col-md-4">
                        <h4>Group 1</h4>
                            <div class="row">
                                    <div class="col-md-6 mb-3" >
                                        <p class="label">Label</p>
                                        <p style="font-weight: bold;">Value appears here</p>
                                    </div>
                                   
                                    <div class="col-md-6 mb-3" >
                                        <p class="label">Label</p>
                                        <p style="font-weight: bold;">Value appears here</p>
                                    </div>
                                    <div class="col-md-6 mb-3" >
                                        <p class="label">Label</p>
                                        <p style="font-weight: bold;">Value appears here</p>
                                    </div>
                                   
                                    <div class="col-md-6 mb-3" >
                                        <p class="label">Label</p>
                                        <p style="font-weight: bold;">Value appears here</p>
                                    </div>
                                    <div class="col-md-6 mb-3" >
                                        <p class="label">Label</p>
                                        <p style="font-weight: bold;">Value appears here</p>
                                    </div>
                                   
                                    <div class="col-md-6 mb-3" >
                                        <p class="label">Label</p>
                                        <p style="font-weight: bold;">Value appears here</p>
                                    </div>
                                    <div class="col-md-6 mb-3" >
                                        <p class="label">Label</p>
                                        <p style="font-weight: bold;">Value appears here</p>
                                    </div>
                                   
                                    <div class="col-md-6 mb-3" >
                                        <p class="label">Label</p>
                                        <p style="font-weight: bold;">Value appears here</p>
                                    </div>
                                    <div class="col-md-6 mb-3" >
                                        <p class="label">Label</p>
                                        <p style="font-weight: bold;">Value appears here</p>
                                    </div>
                                   
                                    <div class="col-md-6 mb-3" >
                                        <p class="label">Label</p>
                                        <p style="font-weight: bold;">Value appears here</p>
                                    </div>
                                    <div class="col-md-6 mb-3" >
                                        <p class="label">Label</p>
                                        <p style="font-weight: bold;">Value appears here</p>
                                    </div>
                                   
                                    <div class="col-md-6 mb-3" >
                                        <p class="label">Label</p>
                                        <p style="font-weight: bold;">Value appears here</p>
                                    </div>
                                    <div class="col-md-6 mb-3" >
                                        <p class="label">Label</p>
                                        <p style="font-weight: bold;">Value appears here</p>
                                    </div>
                                   
                                    <div class="col-md-6 mb-3" >
                                        <p class="label">Label</p>
                                        <p style="font-weight: bold;">Value appears here</p>
                                    </div>
                                    <div class="col-md-6 mb-3" >
                                        <p class="label">Label</p>
                                        <p style="font-weight: bold;">Value appears here</p>
                                    </div>
                                   
                                    <div class="col-md-6 mb-3" >
                                        <p class="label">Label</p>
                                        <p style="font-weight: bold;">Value appears here</p>
                                    </div>
                            </div>
                    </div>
                    <div class="col-md-4">
                        <h4>Group 1</h4>
                        <div class="row">
                            <div class="col-md-6 mb-3" >
                                <p class="label">Label</p>
                                <p style="font-weight: bold;">Value appears here</p>
                            </div>
                           
                            <div class="col-md-6 mb-3" >
                                <p class="label">Label</p>
                                <p style="font-weight: bold;">Value appears here</p>
                            </div>
                            <div class="col-md-6 mb-3" >
                                <p class="label">Label</p>
                                <p style="font-weight: bold;">Value appears here</p>
                            </div>
                           
                            <div class="col-md-6 mb-3" >
                                <p class="label">Label</p>
                                <p style="font-weight: bold;">Value appears here</p>
                            </div>
                            <div class="col-md-6 mb-3" >
                                <p class="label">Label</p>
                                <p style="font-weight: bold;">Value appears here</p>
                            </div>
                           
                            <div class="col-md-6 mb-3" >
                                <p class="label">Label</p>
                                <p style="font-weight: bold;">Value appears here</p>
                            </div>
                            <div class="col-md-6 mb-3" >
                                <p class="label">Label</p>
                                <p style="font-weight: bold;">Value appears here</p>
                            </div>
                           
                            <div class="col-md-6 mb-3" >
                                <p class="label">Label</p>
                                <p style="font-weight: bold;">Value appears here</p>
                            </div>
                            <div class="col-md-6 mb-3" >
                                <p class="label">Label</p>
                                <p style="font-weight: bold;">Value appears here</p>
                            </div>
                           
                            <div class="col-md-6 mb-3" >
                                <p class="label">Label</p>
                                <p style="font-weight: bold;">Value appears here</p>
                            </div>
                            <div class="col-md-6 mb-3" >
                                <p class="label">Label</p>
                                <p style="font-weight: bold;">Value appears here</p>
                            </div>
                           
                            <div class="col-md-6 mb-3" >
                                <p class="label">Label</p>
                                <p style="font-weight: bold;">Value appears here</p>
                            </div>
                            <div class="col-md-6 mb-3" >
                                <p class="label">Label</p>
                                <p style="font-weight: bold;">Value appears here</p>
                            </div>
                           
                            <div class="col-md-6 mb-3" >
                                <p class="label">Label</p>
                                <p style="font-weight: bold;">Value appears here</p>
                            </div>
                            <div class="col-md-6 mb-3" >
                                <p class="label">Label</p>
                                <p style="font-weight: bold;">Value appears here</p>
                            </div>
                           
                            <div class="col-md-6 mb-3" >
                                <p class="label">Label</p>
                                <p style="font-weight: bold;">Value appears here</p>
                            </div>
                    </div>
                    </div>
                    <div class="col-md-2">
                        &nbsp;
                    </div>
                </div>
        
        
        
            </div>
        </div>
    </div>

</div>