
   <div class="container-fluid" >

        <div class="row no-gutters pb-5" style="width: 100%;">
       
        <div class="col-md-6 pt-5 pl-5" style="background-image: url('/assets/home/wave.svg');background-repeat: no-repeat; height: 600px;background-size: 600px;">
            <div style="width: 450px;">
                <h1 class="text-white bold">Master Data Management</h1>
               <p class="text-white">The background image is displayed in its original size.The background image is displayed in its original size.The background image is displayed in its original size.The background image is displayed in its original size.</p> 
               <img src="/assets/home/element 11 copy.png"/>
            </div>
           <div class="pl-5 pt-5 mt-3 ml-5" >
               <img style="margin-left: 50px;" src="/assets/home/undraw_data_trends_b0wg.png"/>
               </div>
            
        </div>



        <div class="col-md-6 pt-5 pl-5" style="background-image: url('/assets/home/wave2.png');background-repeat: no-repeat; height: 600px;background-position: right;top:90px">

            <div class="row no-gutters">
                <div class="col-md-4" style="top: -140px;">
                    <img src="/assets/home/element 11.png"/>
                </div>
                <div class="col-md-7 p-5" style="background-color: white;opacity: .8;display: block;border: 1px solid blue;border-radius: 30px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                        <div class="text-center">
                            <img src="/assets/home/penta_logo.svg"/>  
                        </div>
        <div class="input-group mb-4">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-user" aria-hidden="true"></i>
                </span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="userName" placeholder="Username">
            </div>
              
            <div class="input-group mb-4">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-user" aria-hidden="true"></i>
                    </span>
                </div>
                <input type="password" [(ngModel)]="password"  class="form-control" placeholder="Password">
                </div>

                <div class="input-group mb-4">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-user" aria-hidden="true"></i>
                        </span>
                    </div>
                    <input type="text" class="form-control" placeholder="Company Name">
                    </div>

                    <div class="input-group mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-user" aria-hidden="true"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Plant">
                        </div>
                        <div class="text-center">
                            <button type="button" (click)="validateLogin()" class="btn btn-warning">Login</button>  
                        </div>
                         
        </div>

            </div>

        </div>
        
    </div>


    <div class="row pt-5 mt-5 no-gutters" >
        <div style="background-color:blue; height: 200px; position: relative; width: 100%; padding-left: 150px !important;" class="pt-4 pl-5 "><h2 class="text-white">ONE Platform. MANY Features</h2></div>
    
        <div class="row no-gutters" style="position: relative; top:-120px;"  >
        
            <div class="col-md-1">
            </div>
            <div class="col-md-10" style="background-color: white;">
                <div class="row ml-2">
                    <h4>MDM</h4>
                </div>
                <div class="row ml-2">
                    <div class="col-md-1">
                        <img src="/assets/home/icon_Icon.svg"/>
                    </div>
                    <div class="col-md-3">
                    <h5>Contacts</h5>
                    <p>
                        Lorem lipsum Lorem lipsum Lorem
                        lipsum Lorem lipsum Lorem lipsum
                        Lorem lipsum Lorem lipsum Lorem
                        lipsum Lorem lipsum Lorem lipsum
                        Lorem lipsum Lorem lipsum
                    </p>
                        </div>
                        <div class="col-md-1"  style="border-left: 1px solid grey;"><img src="/assets/home/icon_Icon.svg1" alt="Image"/></div>
                        <div class="col-md-3">
                            <h5>Devices</h5>
                            <p>
                                Lorem lipsum Lorem lipsum Lorem
                                lipsum Lorem lipsum Lorem lipsum
                                Lorem lipsum Lorem lipsum Lorem
                                lipsum Lorem lipsum Lorem lipsum
                                Lorem lipsum Lorem lipsum
                            </p>
                                </div> <div class="col-md-1" style="border-left: 1px solid grey;">
                                    <img src="/assets/home/icon_Icon.svg1" alt="Module"/></div>
                                <div class="col-md-3">
                                    <h5>MODULE A</h5>
                                    <p>
                                        Lorem lipsum Lorem lipsum Lorem
                                        lipsum Lorem lipsum Lorem lipsum
                                        Lorem lipsum Lorem lipsum Lorem
                                        lipsum Lorem lipsum Lorem lipsum
                                        Lorem lipsum Lorem lipsum
                                    </p>
                                        </div>
                </div>
            </div>
            <div class="col-md-1">
            </div>
            <div class="col-md-1">
            </div>
            <div class="col-md-10 mt-4 pt-4" style="background-color: white;">
                <div class="row ml-2">
                    <h4>ORDER MANAGEMENT</h4>
                </div>
                <div class="row ml-2">
                    <div class="col-md-1">
                        <img src="/assets/home/icon_Icon.svg"/>
                    </div>
                    <div class="col-md-3">
                    <h5>Contacts</h5>
                    <p>
                        Lorem lipsum Lorem lipsum Lorem
                        lipsum Lorem lipsum Lorem lipsum
                        Lorem lipsum Lorem lipsum Lorem
                        lipsum Lorem lipsum Lorem lipsum
                        Lorem lipsum Lorem lipsum
                    </p>
                        </div>
                        <div class="col-md-1"  style="border-left: 1px solid grey;"><img src="/assets/home/icon_Icon.svg1" alt="Image"/></div>
                        <div class="col-md-3">
                            <h5>Devices</h5>
                            <p>
                                Lorem lipsum Lorem lipsum Lorem
                                lipsum Lorem lipsum Lorem lipsum
                                Lorem lipsum Lorem lipsum Lorem
                                lipsum Lorem lipsum Lorem lipsum
                                Lorem lipsum Lorem lipsum
                            </p>
                                </div> <div class="col-md-1" style="border-left: 1px solid grey;">
                                    <img src="/assets/home/icon_Icon.svg1" alt="Module"/></div>
                                <div class="col-md-3">
                                    <h5>MODULE A</h5>
                                    <p>
                                        Lorem lipsum Lorem lipsum Lorem
                                        lipsum Lorem lipsum Lorem lipsum
                                        Lorem lipsum Lorem lipsum Lorem
                                        lipsum Lorem lipsum Lorem lipsum
                                        Lorem lipsum Lorem lipsum
                                    </p>
                                        </div>
                </div>
            </div>
            <div class="col-md-1">
            </div>

        </div>
        </div>

<div class="row no-gutters" style="height:120px;background-image:  radial-gradient(lightgrey, white);">
  </div>
</div>

